<mat-card class="apartment-card">

  <img
    mat-card-image
    [src]="apartment().images[0]"
    [alt]="apartment().title"
  />

  <mat-card-content>

    <div class="card-header">

      <h2>
        {{ apartment().title }}
      </h2>

      <span class="price">
        ₹{{ apartment().price | number}}
      </span>

    </div>

    <p class="location">
      📍 {{ apartment().location }}
    </p>

    <div class="details">

      <span>
        🛏 {{ apartment().bedrooms }} Beds
      </span>

      <span>
        🛁 {{ apartment().bathrooms }} Baths
      </span>

      <span>
        {{ apartment().furnished ? 'Furnished' : 'Unfurnished' }}
      </span>

    </div>

    <div class="amenities">

      @for (amenity of apartment().amenities.slice(0, 3); track amenity) {

        <span class="amenity">
          {{ amenity }}
        </span>

      }

    </div>

  </mat-card-content>

  <mat-card-actions>

    <button mat-button color="primary" (click)="editApartment()">
      View Details
    </button>

    <!-- <button
      mat-icon-button
      aria-label="Add to favourites">

      ❤️

    </button> -->
<button
  mat-icon-button
  type="button"
  (click)="toggleFavorite(apartment())"
  [attr.aria-label]="
    isFavorite(apartment().id) ? 'Remove from favorites' : 'Add to favorites'">

  @if (isFavorite(apartment().id)) {
    <mat-icon>
      favorite
    </mat-icon>
  } @else {
    <mat-icon>
      favorite_border
    </mat-icon>
  }
</button>

</mat-card-actions>

</mat-card>