<div class="auth-container">
  <mat-card class="auth-card">
    <mat-card-header>
      <mat-card-title>
        Welcome Back
      </mat-card-title>
      <mat-card-subtitle>
        Login to your RentHub account.
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline">
          <mat-label>
            Email
          </mat-label>

          <input
            matInput
            type="email"
            formControlName="email"
          />

          @if (
            loginForm.controls.email.invalid &&
            loginForm.controls.email.touched
          ) {
            <mat-error>
              Please enter a valid email.
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>
            Password
          </mat-label>

          <input
            matInput
            type="password"
            formControlName="password"
          />

          @if (
            loginForm.controls.password.invalid &&
            loginForm.controls.password.touched
          ) {

            <mat-error>
              Password is required.
            </mat-error>
          }
        </mat-form-field>

        @if (errorMessage) {

          <div class="error-message">
            {{ errorMessage }}
          </div>
        }

        <button
          mat-flat-button
          type="submit"
          class="submit-button">

          Login

        </button>
      </form>

      <div class="demo-credentials">
        <strong>Demo credentials</strong>
        <p>
          Email: paras@renthub.com
        </p>
        <p>
          Password: Password@123
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>