<header class="navbar">

  <div class="logo">
    🏠 RentHub
  </div>
    
  @if (currentUser$ | async; as user) {
      <span>
        Welcome, {{ user.name }}
      </span>
    }

    <nav>
    <a routerLink="/home">
      Home
    </a>

    @if (authService.isLoggedIn()) {
      <a routerLink="/favourites">
        Favourites
      </a>
      <a routerLink="/apartments/create">
        Post Apartment
      </a>
      <button
        mat-button
        (click)="logout()">
        Logout
      </button>
    }
    @else {
      <a routerLink="/login">
        Login
      </a>

      <a routerLink="/register">
        Register
      </a>
    }
  </nav>
</header>

<main class="content">
  <router-outlet></router-outlet>
</main>